{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 bg-success text-white">
        <p class="fs-5 text-center pt-5">Mr/Mlle {{name}}, NeCommerce vous remercie pour votre commande</p>
        <p class="px-3">Merci d’avoir fait vos achats chez nous. Votre soutien compte beaucoup pour nous. N’hésitez pas à revenir vers nous pour nous dire ce que vous pensez de votre achat !
            Vous auriez pu choisir l'un de nos concurrents, je tenais donc à vous remercier de nous avoir donné une chance.</p>
    </div>
</div>
{% endblock %}